.posterContainer{
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    position: relative;
    height: 450px;
}

.posterContainer img{
    border-radius: 15px;
}


.posterContainer:hover, .posterContainer:focus{

    .posterDescription{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.536);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 18px;
        text-align: center;
        cursor: pointer;
    }
    .posterDescription p{
        color: white;
    }
    
    .movieBold{
        font-weight: 700;

    }
    .movieTitle{
        font-size: 1.3rem;
        padding-bottom: 5px;
    }
    
    .posterDescription p.movieDes{
        font-size: 0.8rem;
        line-height: 1.3;
    }


}
