header{
    padding: 10px 0 25px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoContainer{
    width: 50%;
    height: 100px;
}

.logoContainer img{
    height: 80%;
}

.inputContainer{
    width: 50%;
    position: relative;
    float: left;
    display: flex;
}
.inputSearch{
    width: 70%;
    border-radius: 25px;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.inputSearch i{
    margin-right: 15px;
    color:#9B9B9B;
}

.searchInput{
    outline: none;
    border: none;
    width: 85%;
}

.btnBuscar{
    margin-left: 15px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #005659;
    color: white;
    border: none;
}

.btnBuscar:hover, .btnBuscar:focus{
    cursor: pointer;
    background-color: #063a3b;
}